/* Style.css for Broadway */

/* Body */
body {
font-family: helvetica, sans-serif;
text-align: center;
}

/* Header */
#header {
  background-image: url("../images/the-flatiron-building.png");
  background-position: top;
  color: white;
  font-weight: bold;
}
#header h1 {
  font-size: 70px;
}
#header ul {
  list-style-type: none;
  margin:  0;
  padding: 0;
}
#header li {
  margin: 10px 0;
  font-size: 18px;
}

#header a {
  color: inherit;
}

/* main */
#process h2 {
  font-size: 32px;
}

#main h3 {
  font-size: 23px;
}

#main p {
  font-size: 14px;
}

h3.design {
  font-size: 23px;
  color: white;
  font-weight: bold;
  background-image: url("../images/the-flatiron-building.png");
  background-position: top;
}

/* footer */
#footer {
  text-align: left;
  background-color: dimgrey;
  color: white;
  font-size: 11px;
}

#footer a {
  color: white;
  font-size: 14px;
}
